.sidebar{
    position:fixed;
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    background-color: white;
    width: max-content;
    height: 100%;
    top: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px blueviolet;
    

}
.compose{
    display: flex;
    margin-top:40px;


}
.compose Button{

padding: 1rem;
border-radius: 10px;
margin-bottom: 10px;
width: 8rem;
font-weight: bolder;
border: 3px solid darkslateblue;
background-color: white;
color: black;
margin-left: 1rem;
margin-right: 1rem;
}
.logout{
    margin-top: 16rem;
}
.logout Button:hover{
    border:3px solid red ;
    background-color: lightcoral;
}