.display{
    display: flex;
    margin-left: 15%;
    border: 0.2px solid black;
    justify-content: left;
    width: 70rem;
    height: 5rem;
    border-radius: 5px;
    padding: 0.2px;
}
.subject, .text, .from{
 font-family: 'Times New Roman', Times, serif;
 margin: 3rem;
 padding: 1px;
 margin-top: 1.5rem;
}

.display button{
    display: flex;
    font-weight: bold;
    font-size: medium;
    border: 3px solid red;
    border-radius: 10px;
    background-color: white;
    width: max-content;
    height: max-content;
    margin-top: 1.5rem;
}
.display button:hover{
    background-color: lightcoral;
}
.heading{
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid dodgerblue;
    border-top: 3px solid dodgerblue;
    text-shadow:1px 2px  pink;
    font-size: larger;
    margin-left: 0;
    margin-bottom: 1rem;
}
li{
    list-style: none;
}
.seen button{
background-color: blue;
border: 3px solid blue;
border-radius: 80px;
padding: 0.2rem;
margin-top: 1rem;
margin-left: 1rem;

}
.seen button:hover{
    background-color: white;
}